.block{
    background:white;
    border-radius: 5px;
    border:1px solid black;
}

.input{
    display:block;
    width:90%;
    margin:0 auto;
    height: 100%;
    font-size:16px;
    padding:3px 5px;
    border:none;
}

.input:focus{
    outline: none;
}